# 1. 클래스 코드 연습

In [ ]:
# Person 클래스 연습

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f'Hello {self.name}')

In [ ]:
human1 = Person('Jonh', 25)

In [ ]:
human1.greet()

Hello Jonh

In [ ]:
# 두 명 추가하기
p1 = Person('Alice', 30)
p2 = Person('Bob', 40)

In [ ]:
p1.greet()
p2.greet()

Hello Alice
Hello Bob

# 2. 은행 클래스

In [ ]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    # 입금 기능 구현
    def deposit(self, amount):
        self.balance += amount
        return f'{amount}원이 입금됨. 현재 잔액: {self.balance}원.'

    # 출금 기능 구현
    def withdraw(self, amount):
        if amount > self.balance:
            return '잔액이 부족.'
        self.balance -= amount
        return f'{amount}원이 출금됨. 현재 잔액: {self.balance}원.'

    # 이체 기능 구현
    def transfer(self, target_amount, amount):
        if amount > self.balance:
            return '이체 실패 - 잔액 부족'
        self.balance -= amount
        target_amount.balance += amount
        return (f'{amount}원 {target_amount.owner}님께 이체 완료\n'
                f'내 잔액: {self.balance}원')

In [ ]:
a1 = BankAccount('홍길동')
print(a1.deposit(10000))

10000원이 입금됨. 현재 잔액: 10000원.

In [ ]:
a1.withdraw(3000)

'3000원이 출금됨. 현재 잔액: 7000원.'

In [ ]:
a2 = BankAccount('이순신')
print(a2.deposit(5000))

5000원이 입금됨. 현재 잔액: 5000원.

In [ ]:
a2.withdraw(30000)

'잔액이 부족.'

In [ ]:
a1.transfer(a2, 3000)

'3000원 이순신님께 이체 완료\n내 잔액: 4000원'

In [ ]:
# 위의 은행 클래스 init없이 구현
class BankAccount:

    # 입금 기능 구현
    def deposit(self, amount):
        self.balance += amount
        return f'{amount}원이 입금됨. 현재 잔액: {self.balance}원.'

    # 출금 기능 구현
    def withdraw(self, amount):
        if amount > self.balance:
            return '잔액이 부족.'
        self.balance -= amount
        return f'{amount}원이 출금됨. 현재 잔액: {self.balance}원.'

    # 이체 기능 구현
    def transfer(self, target_amount, amount):
        if amount > self.balance:
            return '이체 실패 - 잔액 부족'
        self.balance -= amount
        target_amount.balance += amount
        return (f'{amount}원 {target_amount.owner}님께 이체 완료\n'
                f'내 잔액: {self.balance}원')

In [ ]:
a1 = BankAccount('홍길동', 10000)
print(a1.deposit(10000))

TypeError: BankAccount() takes no arguments

In [ ]:
a1 = BankAccount()
a1.owner = "장보고"
a1.balance = 10000

a2 = BankAccount()
a2.owner = "이순신"
a2.balance = 5000

In [ ]:
a1.deposit(3000)

'3000원이 입금됨. 현재 잔액: 13000원.'

In [ ]:
# 실습문제1 상품 클래스 구현하기 문제
class Product:
    def __init__(self, name, price, stock=0):
        self.name = name
        self.price = price
        self.stock = stock

    def restock(self, amount):
        self.stock += amount
        return f'{amount}개가 추가 되었습니다. 현재 재고: {self.stock}개'

    def info(self):
        return f'{self.name} | 가격: {self.price}원 | 재고: {self.stock}개'

    def sell(self, quantity):
        if quantity > self.stock:
            return '재고 부족'
        self.stock -= quantity
        return f'{quantity}개 판매되었습니다. 남은 재고: {self.stock}'

In [ ]:
x = Product('사과', 800)
y = Product('바나나', 2000)

In [ ]:
y.restock(20)

'20개가 추가 되었습니다. 현재 재고: 20개'

In [ ]:
# 실습2 문제 - 인스턴스 변수 초기화 예외 처리
class Person:
    def __init__(self, name, age, email=None):
        if not (0<= age <= 120):
            raise ValueError("유효한 나이를 입력하세요")
        self.name=name
        self.age=age
        self.email=email or 'unknown@email.com'

    def greet(self):
        print(f"{self.name} ({self.age}세) - {self.email} 님, 안녕하세요!")

In [ ]:
p1 = Person('Alice', 1000)

ValueError: 유효한 나이를 입력하세요

In [ ]:
p2 = Person('Bob', 50)
print(p2.greet())

Bob (50세) - unknown@email.com 님, 안녕하세요!
None

# 3. 다양한 메소드

In [ ]:
# __str__메소드

class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

    def __repr__(self):
        return f'Book(title={self.title}, author={self.author}, year={self.year})'

    def __str__(self):
        return f'{self.title} by {self.author} ({self.year})'

In [ ]:
book1 = Book("노인과 바다", "헤밍웨이", "1952")
book2 = Book("소년이 온다", "한강", "2014")

In [ ]:
print(repr(book1))
print(str(book2))

Book(title=노인과 바다, author=헤밍웨이, year=1952)
소년이 온다 by 한강 (2014)

In [ ]:
print(book1)
print(book2)

노인과 바다 by 헤밍웨이 (1952)
소년이 온다 by 한강 (2014)

In [ ]:
book1

Book(title=노인과 바다, author=헤밍웨이, year=1952)

In [ ]:
book2

Book(title=소년이 온다, author=한강, year=2014)